<div class="col-md-3" ng-controller="HistoryCtrl">
    <span class="title">{{title}}</span>
    <div class="history-block">
        <ul class="list-unstyled">
            <li class="history-list" ng-repeat="h in history" >
                <span class="type type-{{ h.type | lowercase}}">{{ h.type }}</span>
                <span>{{ h.url }}</span>
                <span class="pull-right" data-id="{{ h.id }}" delete><i class="glyphicon glyphicon-remove"></i></span>
            </li>
        </ul>
    </div>
</div>
<div class="col-md-9">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">http://</span>
        <text-input value="send">

        </text-input>
    </div>
    <hr>
    <h1>Response</h1>

    <table>
        <tr ng-repeat="row in response">
            <td>{{row.name}}</td>
            <td>{{row.age}}</td>
        </tr>
    </table>

</div>






        <!--<div class="input-group">-->
            <!--<select class="form-control" ng-model="type">-->
                <!--<option value="post">POST</option>-->
                <!--<option value="get">GET</option>-->
            <!--</select>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<input type="text" class="form-control" placeholder="Search">-->
        <!--</div>-->
        <!--<button type="button" class="btn btn-default">Отправить</button>-->
<!--&lt;!&ndash;        <div class="row">-->
                <!--<div class="col-md-2">-->
                    <!--</div>-->
                    <!--<div class="input-group">-->
                        <!--<input type="text" class="form-control" placeholder="http://" ng-model="title">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<button type="button" ng-click="send()"> send </button>-->
        <!--</div>&ndash;&gt;-->

        <!--<div >-->
            <!--<ul class="list-unstyled">-->
                <!--<li ng-repeat="h in history" ><span class="type type-{{ h.type | lowercase}}">-->
                        <!--{{ h.type }}</span> {{ h.url }}-->
                        <!--<span class="pull-right" data-id="{{ h.id }}" delete>x</span>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->