<div class="col-md-3">
    <history-rest></history-rest>
</div>
<div class="col-md-9">
    <uib-tabset>
        <!--<div role="tabpanel">-->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-repeat="tab in tabs" ng-click="selectTab($index)" ng-class="{'active':selectedTab === $index}">
                    <a data-target="#tab" aria-controls="home" role="tab" data-toggle="tab">{{tab.name}} <span ng-click="deleteTab($index)" class="glyphicon glyphicon-remove"></span></a>
                </li>
                <li role="presentation" ng-click="addTab()">
                    <a aria-controls="home" role="tab" data-toggle="tab">( + )</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="tab">
                    <h1>Tab {{tabs[selectedTab].id}}</h1>
                    <h3>Content:- {{tabs[selectedTab].content}}</h3>
                    <div class="input-group" style="width: 100%;">
                        <send-data-rest></send-data-rest>
                    </div>

                    <hr>
                    <h1>Response</h1>
                    <div class="well">{{response}}</div>
                </div>
            </div>
        <!--</div>-->
    </uib-tabset>

</div>


<!--<uib-tabset>-->
    <!--<uib-tab ng-repeat="tab in tabs" heading="{{tab.name}}" active="tab.active" disable="tab.disabled">-->
        <!-- -->
    <!--</uib-tab>-->
<!--</uib-tabset>-->

<!--<content>-->
    <!--<div class="col-md-3">-->
        <!--<ui-view name="history"></ui-view>-->
    <!--</div>-->
    <!--<div class="col-md-9">-->
        <!--<div class="input-group" style="width: 100%;">-->
            <!--<ui-view name="send"></ui-view>-->
        <!--</div>-->
    <!--</div>-->
<!--</content>-->

<!--<hr>-->
<!--<h1>Response</h1>-->
<!--{{response}}-->